<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <%= link_to "Edit", edit_coin_path(@coin) %> |
  <%= link_to "Back to coins", coins_path %>

  <%= button_to "Delete", @coin, method: :delete, data: {confirm: 'Are you sure?'} %>
</div>
